.book-card {
  padding: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 1px 20px #ebe5e5;
  margin: 30px 0px;
}

.book-card-text {
  width: 80%;
}

.book-card-text-detail {
  display: flex;
}

.book-card-text-detail-head {
  margin-bottom: 0px;
  color: #bbadad;
}

.book-card-text-detail-content {
  margin-bottom: 10px;
}

.book-card-text-detail-left {
  float: left;
  width: 60%;
}

.book-card-text-detail-right {
  float: left;
  width: 40%;
}

.book-card-poster {
  width: 20%;
}

.book-card-poster-img {
  width: 100%;
  height: 100%;
}
