.book-list {
  margin: 0% 20%;
}

.book-list-header {
  display: flex;
  margin: 40px 0px 0px;
  vertical-align: middle;
  align-items: center;
}

.book-list-header-left {
  float: left;
  width: 70%;
  text-align: left;
}

.book-list-header-left-text {
  margin-bottom: 0px;
}

.book-list-header-right {
  float: left;
  width: 70%;
  text-align: right;
}

.book-list-grid {
  display: block;
}

.book-list-footer {
  margin: 30px;
  text-align: center;
}

.book-list-footer-btn {
  border: solid 1px #95989a;
  background-color: #e62464;
  color: white;
  border-radius: 5px;
  padding: 5px 30px;
}