.book-form-button {
  border: solid 1px #95989a;
  background-color: #e62464;
  color: white;
  border-radius: 5px;
  padding: 5px 30px;
}

.form-deactivated {
  display: none; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.form-activated {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4);
}

.book-form {
  background-color: #ffffff;
  left: 30%;
  top: 20%;
  max-width: 700px;;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: left;
}

.book-form-header {
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #bbadad;
  padding: 15px;
  display: flex;
}

.book-form-header-text {
  margin-left: auto;
}

.book-form-header-btn {
  right: 0;
  background-color: inherit;
  border: none;
  margin-left: auto;
}

.book-form-header-btn-close {
  color:  #bbadad;
}

.book-form-group {
  padding: 20px 30px 20px;
}

.book-form-group-label {
  margin-bottom: 0px;
}
.book-form input[type=text], .book-form input[list] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: none;
  background: #eee;
}

.book-form-footer {
  display: flex;
  margin-bottom: 50px;
  height: 150px;
  padding: 0px 30px;
}

.book-form-footer-error {
  float: left;
  width: 70%;
  text-align: left;
}

.book-form-footer-error-text {
  color: #e62464;
  margin-bottom: 0px;
}

.book-form-footer-submit {
  float: right;
  width: 30%;
  text-align: right;
}

.book-form-footer-submit-btn {
  width: 100%;
  border: solid 1px #95989a;
  background-color: #e62464;
  color: white;
  border-radius: 5px;
  padding: 5px 30px;
}

.book-form-footer-submit-btn:disabled {
  border: solid 1px #eee;
  background-color: #eee;
  color: rgb(185, 178, 178);
}

.span-error{
  padding: 0px 5px;
  color: #e62464;
}